<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anvesh front end</title>
</head>
<div class="bg">
<div>
    <form>
        <h1>LOGIN</h1>
        <label>Email ID</label>
        <input type="text">
        <label>Password</label>
        <input type="Password">
        <button>Login</button>
        <a href="music.html">Forget Password?</a>

    </form>
</div>
</div>
</html>