<div class="header">
    <h2>Library Management System</h2>
    <ul>
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/login">Login</a>
        <a href="#">Logout</a>
    </ul>

</div>
<div class="Animation">

</div>
<div class="footer">
    <!-- <div class="about">
        <ul>
            <li><a href="#"><h1>Opeaning Hours</h1></a></li>
            <li><a href="#">Monday-Friday:9:00 AM - 6:00 PM</a></li>
            <li><a href="#">Saturday-Sunday:Closed</a></li>

        </ul>
    </div> -->
   <div class="SocialIcons">

          
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-google-plus"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footnav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Our Team</a></li>
        </ul>
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2023; Designed by<span class="designer">Anvesh & Kishore</span></p>
    </div>

</div>