
<div class="header">
    <h2>Library Management System</h2>
    <ul>
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About Us</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/Logout">Logout</a>
    </ul>

</div>
<div class="login">
    <form class="amb">
        <h1>Register</h1>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name ">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="EmailID">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Mobile Number">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Gender">
            </div>
        </div>
        <div class="bt">
            <button type="button">Register</button>
        </div>
    </form>
</div>
<div class="footer">

     <div class="footnav">
         <ul>
             <li><a href="">Home</a></li>
             <li><a href="">About Us</a></li>
             <li><a href="">Contact Us</a></li>
             <li><a href="">Our Team</a></li>
         </ul>
     </div>
     <div class="footerBottom">
         <p>Copyright &copy;2023; Designed by<span class="designer">Anvesh & VALLIVETI Kishore</span></p>
     </div>
 
 </div>