.sidenav{
     height: 100%;
     width: 240px;
     background: #11101d;
     padding: 6px 14px;
     position: relative;
     min-height: 100vh;
     overflow: hidden;
     padding: 6px 14px;
     top: 0;
     left: 0;
     position: fixed;

}
.sidenav .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;


}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;


}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight:400px;
}
.sidenav #btn{
    color: #fff;
    position: absolute;
    left: 90%;
    top:6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidenav ul{
    margin-top: 20px;
}
.logo_name{
    color: #fff;
}
.sidenav ul li{
    height: 50px;
    width: 100%;
    position: relative;
    list-style: none;
    margin: 0 5px;
    text-decoration: none;
    list-style: none;
    line-height: 50px;

}
.sidenav ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;   
}
.sidenav ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidenav ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;

}