<div class="sidenav">
    <div clas="logo_content">
        <div class="logo">
            <div class="logo_name">Admin</div>
        </div>
        <div>
            <i class='bx bx-menu' id="btn"></i>
        </div> 
        <div>
            <ul class="na_list">
                <li>
                    <a href="#">
                    <i class='bx bx-home'></i>
                    <span class="links_names">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="links_names">DashBoard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-user-circle'></i>
                    <span class="links_names">User</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class='bx bx-book'></i>
                    <span class="links_names">Books</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-user-detail'></i>
                    <span class="links_names">Customres</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_names">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class='bx bx-log-out' ></i>
                    <span class="links_names">Logout</span>
                    </a>
                </li>
            </ul>
        </div>     
    </div>

</div>